.component {
    box-sizing: border-box;
    min-height: 80px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
  }
  
  .hover {
    border: 1px solid #4c4cff;
  }
  
  .component:last-of-type {
    margin-bottom: 0;
  }
  
  .component_type_locked {
    justify-content: end;
    cursor: default;
  }
  
  .component_position_bottom {
    margin-bottom: 0;
  }